# ==========================
# PYTHON
# ==========================

__pycache__/
*.py[cod]
*$py.class

# ==========================
# AMBIENTE VIRTUAL
# ==========================

venv/
.venv/
env/
ENV/

# ==========================
# VARIÁVEIS DE AMBIENTE
# ==========================

.env
.env.*
*.env

# ==========================
# LOGS
# ==========================

*.log

# ==========================
# VS CODE
# ==========================

.vscode/

# ==========================
# SISTEMA OPERACIONAL
# ==========================

.DS_Store
Thumbs.db

# ==========================
# BUILD / DIST
# ==========================

build/
dist/
*.egg-info/

# ==========================
# ARQUIVOS TEMPORÁRIOS
# ==========================

*.tmp
*.bak

ApostleBot/

ekklesia-upd.zip